//<ПЕРЕМЕННЫЕ>===========================================================================================================

$fontFamily: "Source Sans Pro";
$tabletWidth: 768;
$mobileWidth: 320;
$PCWidth: 1440;

$maxWidth: 1440;
$minWidth: 320;

$c-main: #ffffff;
$c-second: #bdb8de;
$c-third: #c8c3eb;
$c-danger: rgb(255 138 138);

$c-light: #040405;
$c-sp: #00e1ff;

$bg-color: #27262e;
$border-color: #c1c8e4;

$c-focus: #c5e4f9;

$main-radius: 25px;
$border-r: 4px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
